@import  url('reset.css');
@import url('estilos.css');
@import url('componemtes/_navegation.css');

body {
    /* background: url('../img/spiderman-tobey/movie-01/background.png') center center no-repeat;
    background-size: cover; */
}
.wrapper {
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
}

.wrapper video{
    position: fixed;
    width: 100%;
}

.menu{
    margin-left: 58%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: absolute;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.322);
    padding: 0 1%;
    border-radius: 25%;
    height: 7rem;
}
.menu ul{
    width: 527px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;

    /* width: 787px; */
    list-style: none;
    /* margin-top: 32px; */
    
    position: relative;
}
/* .menu ul li:hover{
    color: #E71418;
    background-color: #E71418;
    padding: 1%;
    border-radius: 15%;
} */
.aside-column {
    width: 100px;
    height: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.secao-content{
    width: 100%;
    height: 100%;
    /* background-color: rgb(228, 207, 20); */
    padding-left: 30px;
    position: relative;
}

.secao-content img {
    width: 680px;
    margin-top: 3%;
}

.informacoes {
    width: 680px;
    background: #000000CC;
    border-radius: 1rem;
    padding: 20px;
    margin-top: 2%;
}

.informacoes-button ul{
    display: flex;
    gap: 20px;
}
.informacoes-button ul li{
    /* background: #e7141800; */
    color: #E71418;
    border-left: 5px solid #E71418;
    border-radius: 30px;
    padding: 1% 2%;
    display: flex;
    align-items: center;
    
    gap: 5px;
}

.informacoes-button ul li img{
    width: 25px;
    margin-top: -5px;
}


.informacoes p {
    font-size: 0.8rem;
    margin-top: 2%;
}


.assistir{
    background: #03030328;
    width: 190px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    border-radius: 41px;
    border: 1px solid #ffffff;
    margin-top: 1%;
}
.assistir p{
    color: #E71418;
}
.assistir img{
    width: 25px;
    margin-top: -1%;
    
}

.galeria {
    /* background-color: aqua; */
    height: 200px;
    overflow: hidden;
    margin-top: 3%;
    /* padding: 1%; */
}
.galeria img{
    width: 290px;
    height: 160px;
    border: 5px solid #ffffff;
    border-radius: 8px;
    margin: 0;
}