@import  url('reset.css');
@import url('estilos.css');

body {
    background: url('../img/spiderman-tobey/movie-01/background.png') center center no-repeat;
    background-size: cover;
}
.wrapper {
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
}

.aside-column {
    width: 100px;
    height: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigator {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navigator  ul li {
    margin: 60px 0;
}

.navigator ul li:first-child {
    margin-top: 0;
}

.navigator ul li:last-child {
    margin-top: 0;
}

.navigator ul li a{
    color: #ffffff;
    border: solid 2px #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigator::before {
    content: '';
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #ffffff;
    z-index: 0;
}

.navigator ul {
    z-index: 1;
}

.navigator ul li a:hover, 
.navigator ul li a.active {
    color: #B9001F; 
    background-color: #ffffff;

    /* border-style: double;
    border-width: 4px;
    border-color: #ffffff; */
}

.navigator-icon {
    position: absolute;
    top: -20px;
}
.secao-content{
    width: 100%;
    height: 100%;
    /* background-color: rgb(228, 207, 20); */
    padding-left: 30px;
}

.secao-content img {
    width: 680px;
    margin-top: 5%;
}

.informacoes {
    width: 680px;
    background: #000000CC;
    border-radius: 1rem;
    padding: 20px;
    margin-top: 3%;
}

.button1{
    width: 159px;
    height: 30px;
    background: #E71418;
    font-size: 0.8rem;
    gap: 0px;
    border-radius: 41px;
    border: none;
}
.button2{
    width: 219px;
    height: 30px;
    background: #E71418;
    font-size: 0.8rem;
    gap: 0px;
    border-radius: 41px;
    border: none;
    margin-left: 5%;
}

.informacoes p {
    font-size: 0.8rem;
    margin-top: 2%;
}

.assistir{
    background: #030303;
    width: 190px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    border-radius: 41px;
    border: 1px solid #ffffff;
    margin-top: 1%;
}
.assistir p{
    color: #E71418;
}
.assistir img{
    width: 25px;
    margin-top: -1%;
    
}

.galeria {
    /* background-color: aqua; */
    height: 200px;
    overflow: hidden;
    margin-top: 3%;
    /* padding: 1%; */
}
.galeria img{
    width: 290px;
    height: 160px;
    border: 5px solid #ffffff;
    border-radius: 8px;
    margin: 0;
}